/**
 * @name x6Theme
 * @author x6ije
 * @description Just a "X6"
 * @version 0.0.0
 * @invite 85MJHGN72s
 * @authorId 1274648872932868131
 * @source https://github.com/x6ijeX6/x6Theme
*/

@import url(https://x6theme-website.onrender.com/theme/theme.css);
@import url(https://x6theme-website.onrender.com/theme/rounded.css);
@import url(https://x6theme-website.onrender.com/theme/settingsmodal.css);

:root {
    /* x6 */
    --background-image: url("https://raw.githubusercontent.com/x6ijeX6/x6ijeX6/refs/heads/main/banner.png"); /* default: https://raw.githubusercontent.com/x6ijeX6/x6ijeX6/refs/heads/main/banner.png */
    --background-color: #000; /* default: #000 */
    --color1: #11111177;
    --color2: #000000;
    /* Rounded Discord */
    --border-radius: 20px;
    /* SettingsModal */
    --settingswidth: 960; /* default:	960px			(width of the settings modal, px)												*/
    --settingsheight: 80; /* default:	80vh			(height of the settings modal, vh)												*/
    --settingsbackground: transparent;
  }
